$color-primary:#727cf5;
$colors:(1: rgb(114, 124, 245),
    2: rgb(16, 183, 89),
    3: rgb(255, 51, 102),
    4: rgb(251, 188, 6),
    5: rgb(102, 209, 209));

$bg-colors:(1: rgba(114, 124, 245, 0.15),
    2: rgba(16, 183, 89, 0.15),
    3: rgba(255, 51, 102, 0.15),
    4: rgba(251, 188, 6, 0.15),
    5: rgba(102, 209, 209, 0.15));

.dropdown-content {
    line-height: 20px;
    color: #444;
    top: 60px !important;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.068);
    max-height: unset;
    animation: fade-up .5s;

    li {
        min-height: unset;

        a {
            padding: 0;
        }
    }
}

body {
    background-color: #f4f4f4;
    font-family: Overpass, sans-serif;
}

ul {
    li {
        background-color: unset !important;

        a:hover {
            color: $color-primary !important;
            background-color: unset !important;
        }
    }
}

i {
    color: unset !important;
    transition: transform .3s;
    user-select: none;
}

@keyframes fade-up {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes pulse-big {
    0% {
        box-shadow: 0 0 0 0px $color-primary;
    }

    100% {
        box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    }
}

@mixin tools-bar {
    z-index: 995;
    width: 282px !important;
    left: auto !important;

    @media (max-width:767px) {
        right: 20px !important;
    }
}