.container-fluid {
    display: block !important;
    padding-right: 1vw;
    padding-left: 1vw;
}

.pro-img {
    border-radius: 50%;
    object-fit: cover;
    height: 33px;
    width: 33px;
    position: relative;
    box-sizing: initial;
}

.pro-card {
    position: relative;
    box-shadow: none;
    margin: 0;
    padding: 20px;

    &-header {
        height: 170px;
        padding-top: 90px;
        text-align: center;
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;

        h5 {
            font-size: 16px;
            font-weight: 700;
        }

        img {
            border-radius: 50%;
            position: absolute;
            top: 20px;
            left: 80px;
            height: 70px;
        }
    }
}

.notify {
    position: relative;

    span {
        position: absolute;
        width: 8px;
        height: 8px;
        top: 22px;
        left: 13px;
        background-color: $color-primary;
    }
}

.pulse-big {
    animation: pulse-big 1s infinite;
}

.text-muted {
    color: #828282 !important;
}

.drp-card {
    box-shadow: unset;
    margin: unset;

    &-header {
        width: 100%;
        display: flex;
        padding: 15px 18px;
        border-bottom: 1px solid #eee;

        h5 {
            font-size: 14px;
            margin: unset;
            margin-right: auto;
            line-height: unset;
            font-weight: 700;
        }

        a {
            font-size: 14px;
            padding: 0;
        }
    }

    &-body {
        display: block;
        padding: 0 4px;

        a.media {
            display: flex;
            align-items: center;
            padding: 10px 20px;

            @for $i from 1 through 5 {
                &:nth-child(#{$i}):hover {
                    background-color: lighten($color: map-get($map: $bg-colors, $key: $i), $amount: 20%) !important;
                }
            }

            display: flex !important;

            @for $i from 1 through 5 {
                .logo-#{$i} {
                    color: map-get($map: $colors, $key: $i);
                    background-color: map-get($map: $bg-colors, $key: $i);
                    padding: 5px;
                    margin-right: 15px;
                }
            }
        }
    }

    &-bottom {
        width: 100%;
        padding: 12px 18px !important;
        border-top: 1px solid #eee;
        text-align: center;
        font-weight: 500;
    }
}

.web-apps {
    display: flex;
    margin-bottom: 5px;

    .web-app {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        float: center;
        flex: 1;
        padding: 0;
        padding-bottom: 10px;

        &:hover {
            background-color: lighten($color: map-get($map: $bg-colors, $key: 1), $amount: 10%) !important;
        }

        i {
            height: 45px !important;
        }
    }
}

.search {
    padding-left: 15px;
    display: inline-flex;
    width: 40% !important;
    margin-right: 0 !important;

    &-icon {
        display: inline !important;
        padding-right: 15px;
    }

    &-input {
        padding-top: 18px !important;
        border-bottom: none !important;
        height: 2rem !important;
    }
}

