.container-fluid {
    display: block !important;
    padding-right: 1vw;
    padding-left: 1vw;
}

.pro-img {
    border-radius: 50%;
    object-fit: cover;
    height: 33px;
    position: relative;
    top: 10px;
}

.pro-card {
    position: relative;
    box-shadow: none;
    margin: 0;
    padding: 20px;

    &-header {
        height: 170px;
        padding-top: 90px;
        text-align: center;
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;

        h5 {
            font-size: 16px;
            font-weight: 700;
        }

        img {
            border-radius: 50%;
            position: absolute;
            top: 20px;
            left: 80px;
            height: 70px;
        }
    }
}

.notify {
    position: relative;

    span {
        position: absolute;
        width: 8px;
        height: 8px;
        top: 22px;
        left: 13px;
        background-color: $color-primary;
    }
}

.pulse-big {
    animation: pulse-big 1s infinite;
}

@keyframes pulse-big {
    0% {
        box-shadow: 0 0 0 0px $color-primary;
    }

    100% {
        box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    }
}

.text-muted {
    color: #828282 !important;
}

.card {
    box-shadow: unset;
    margin: unset;

    &-header {
        width: 100%;
        display: flex;
        padding: 15px 18px;
        border-bottom: 1px solid #eee;

        h5 {
            font-size: 14px;
            margin: unset;
            margin-right: auto;
            line-height: unset;
            font-weight: 700;
        }

        a {
            font-size: 14px;
            padding: 0;
        }
    }

    &-body {
        display: block;
        padding: 0 4px;

        a {
            padding: 10px 20px;

            @for $i from 1 through 5 {
                &:nth-child(#{$i}):hover {
                    background-color: lighten($color: map-get($map: $bg-colors, $key: $i), $amount: 20%) !important;
                }
            }

            .media {
                @for $i from 1 through 5 {
                    .logo-#{$i} {
                        color: map-get($map: $colors, $key: $i);
                        background-color: map-get($map: $bg-colors, $key: $i);
                        padding: 5px;
                    }
                }
            }
        }
    }

    &-bottom {
        width: 100%;
        padding: 12px 18px !important;
        border-top: 1px solid #eee;
        text-align: center;
        font-weight: 500;
    }
}