nav {
    box-shadow: none;

    a {
        color: #444 !important;
    }

    .profile-nav {
        margin: 5px 0;

        a {
            padding: 5px;
        }

        li:last-child {
            margin-bottom: 10px;
        }
    }
}