nav {
    box-shadow: none;

    .dropdown-button>.pro-img {
        top: 10px;
    }

    a {
        color: #444 !important;
    }

    #dropdown1 {
        width: 230px !important;
        right: 15px;
        left: auto !important;
        z-index: 995;
    }

    .profile-nav {
        margin: 5px 0;

        a {
            padding: 5px;
        }

        li:last-child {
            margin-bottom: 10px;
        }
    }

    #dropdown2 {
        right: 60px;
        @include tools-bar;
    }

    #dropdown3 {
        @include tools-bar;
        right: 110px;
    }

    #dropdown4 {
        @include tools-bar;
        right: 160px;
    }

    .side-nav {
        h6 {
            color: $color-gray !important;
            padding: 15px 20px 5px;
        }
    }
}